@charset "utf-8";
body { margin:0px ; width:1370px}
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
.nav-link {
	display: block;
padding:.5rem 1rem
}
.nav-link:hover {
	text-decoration: none
}
.nav-link.disabled {
	color: #6c757d
}
.active {
	display: block
}
.navbar {
	height:80px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
padding:.5rem 1rem;
	background-color: #CCC
}
.navbar-brand:hover {
	text-decoration: none
}
.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
.nav-link {
	padding-right: 0;
	padding-left: 0;
	line-height:50px
}
.nav-link, .navbar-brand {
	color: rgba(0,0,0,.5)
}
.navbar-nav {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row
}
.navbar-brand {
	font-size: 30px;
	line-height: inherit;
}
#welcome {
	height: 100px
}
a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}
img {
	vertical-align: middle;
	border-style: none
}
a:hover{color:#0056b3;text-decoration:underline}
{ line-height:50%}