body{
  font-size: 20px;
}
.nav-item{
  padding-right: 12px;
  padding-left: 12px;
}
.flag{
  max-height: 20px;
  max-width: 20px;
  margin-top: 10px;
}


.navMenu{
  padding-top: 75px;
  padding-bottom: 20px;
}.mainmenu ul li {
  padding-right: 15px;
  padding-left: 15px;
}
.mainmenu ul li a {
  color: #696763;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}
.mainmenu ul li a:hover{
  background: none;
  color: #fdb45e;
}
.sidenav {
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CCC;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #0000CC;
}
.active {
  background-color: #CCC;
  color: white;
}
.dropdown-container {
  display: none;
  background-color: #999999;
  padding-left: 8px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.container {
  padding: 16px;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
  .cancelbtn {
     width:100px;
   margin-left:40%;
  }
.dangky{
  width:100px; padding:10px
  }
@charset "utf-8";
body { margin:0px ; width:1370px}
.nav-link {
  display: block;
padding:.5rem 1rem
}
.nav-link:hover {
  text-decoration: none
}
.active {
  display: block
}
.navbar {
  height:80px;
  justify-content: space-between;
padding:.5rem 1rem;
  background-color: #CCC
}
.navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}
.nav-link {
  padding-right: 0;
  padding-left: 0;
  line-height:50%;
  color: rgba(0,0,0,.5)
}
#welcome {
  height: 100px
}
